body{
    background-color: rgb(132, 201, 169);
}
h1{
    color: darkgreen;
    font: 2em bold arial;
    text-align: center;
}
h4{
    color: rgb(90, 90, 90);
    font: 1em helvetica;
}
form{
    background-color: rgb(255, 219, 219);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}
